<ul class="sidebar-links">
  <li class="sidebar-link">
    <a
      href="/"
      class="sidebar-link {% if request.path == '/' %}active{% endif %}"
    >
      <i class="bx bx-home"></i>
      <span class="link-text">Home</span>
    </a>
  </li>
  <li class="sidebar-link">
    <a href="#media-grabber" class="link-media">
      <i class="bxr bx-arrow-down-circle"></i>
      <span class="link-text">Media Grabber</span>
    </a>
  </li>
  <li class="sidebar-link">
    <a href="#favorites" class="link-favorites">
      <i class="bx bx-star"></i>
      <span class="link-text">Favorites</span>
    </a>
  </li>
  <li class="sidebar-link">
    <a href="#history" class="link-history">
      <i class="bx bx-history"></i>
      <span class="link-text">History</span>
    </a>
  </li>
  <li class="sidebar-link">
    <a href="#playlists" class="link-playlists">
      <i class="bxr bx-music-library"></i>
      <span class="link-text">Playlists</span>
    </a>
  </li>
  <li class="sidebar-link">
    <a href="#audio-player" class="link-audio">
      <i class="bx bx-headphone"></i>
      <span class="link-text">Audio Player</span>
    </a>
  </li>

  <hr class="sidebar-divider" />

  <li class="sidebar-link">
    <a href="#account" class="link-account">
      <i class="bx bx-user"></i>
      <span class="link-text">Account</span>
    </a>
  </li>
  <li class="sidebar-link">
    <a class="link-help" onclick="openHelpPanel()" style="cursor: pointer">
      <i class="bx bx-help-circle"></i>
      <span class="link-text">Help</span>
    </a>
  </li>
  <li class="sidebar-link">
    <a
      class="link-send-info"
      onclick="openFeedbackPanel()"
      style="cursor: pointer"
    >
      <i class="bx bx-send"></i>
      <span class="link-text">Send Feedback</span>
    </a>
  </li>

  <hr class="sidebar-divider" />

  <div class="legal-links">
    <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
    <span class="separator">&bull;</span>
    <a href="{% url 'terms_of_service' %}">Terms of Service</a>
    <span class="separator">&bull;</span>
    <a href="{% url 'contact' %}">Support Center</a>
  </div>
</ul>
